@media(max-width: 800px){
    .Transfer{
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }
    
    .search,
    .agentHeader
    {
        margin-left: 4%;
    }    
    .search{ width: 95%;}
    .search-icon{ left: 2%; }
    
    table{
        margin-left:3%;
        width: 94%;
        font-size: 90%;
    }
    tr{
        width: 600px;
        height: 40px;
        border-radius: 20px;
    }
    .online:hover{
        box-shadow: 0 7px 21px 0 #eaeaeb;
        border-radius: 27px;
    }
    .name{width: 155px;}
    .status{width: 65px;}
    .serving-not{
        width: 85px;
        margin-left: 30px;
    }
    .transferB{
        width: 125px;
        height: 34px;
        border-radius: 17px;
        top: 3px;
    }
}

@media(max-width: 500px){
    table{
        margin: 0;
        width: 100%;
    }
    html{font-size: 14px;}
    .Transfer{
        width: 95%;
        height: 450px;
        text-align: center;
    }

    .conversation{font-size: 100%;}
    .searchbox{
        font-size: 90%;
        width: 70%;
    }
    .TransferButton{
        width: 130px;
        height: 44px;
        border-radius: 22px;
    }
    
    .TransferButton:hover{
        width: 147px;
        height: 50px;
        border-radius: 25px;
        margin-top: -5px;
        margin-left: -15px;
    }

}