
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html
{
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
}

/*Transfer Button & Block*/

.TransferButton{
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    background-color: #5265e8;
    font-size: 130%;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    outline: none;
    transition: font-size 0.2s, width 0.2s, height 0.2s, box-shadow 0.1s,margin 0.2s,background-color 0.1s;
}

.TransferButton:hover{
    background-color: #4b5edb;
    font-size: 147.3%;
    width: 170px;
    height: 57px;
    margin-top: -7px;
    margin-left: -20px;
    border-radius: 28px;
    box-shadow: 2px 4px 10px #40469b94;
}

.js-transfer{
    display: none;
}
.Transfer{
    width: 677px;
    height: 460px;
    opacity: 0.92;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0 rgb(167, 166, 166);
    background-color: #ffffff;
    
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

/*----HEADER-----*/
header{
    position: relative;
}

.Rectangle-347{
    height: 55px;
    background-color: #5265e8;
}
.conversation{
    height: 17px;
    font-size: 112.5%;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 16px;
    
}


header input{
    width: 12.3px;
    height: 12.3px;
    outline: none;
    object-fit: contain;
    top: 21.3px;
    right: 21.3px;
    position: absolute;
}

header input:hover{
    width: 13px;
    height: auto;
    top: 21px;
    right: 21px;
}


main{
    position: relative;
}
    .search,
    .agentHeader
{
    margin-left: 22px;
}
/*------------SEARCH--------------*/
.search{
    width: 637px;
    height: 52px;
    border-radius: 26px;
    border: solid 1px rgb(207, 206, 206); 
    background-color: #ffffff;
    margin-top: 26px;
    position: relative;
    transition: border 0.2s;
}

.search:hover{
    border: solid 1px gray;
    box-shadow: 2px 2px 1px  rgb(207, 206, 206);   
}


.search-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16.5px;
    left: 18px;
    padding: 2.5px 2.9px 2.9px 2.5px;
}

.searchbox{
    width: 252px;
    height: 18px;
    font-size: 100%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: gray;
    border: none;
    outline: none;
    position: absolute;
    top: 15px;
    left: 45px;
    transition: color 0.2s;
}
.searchbox:hover::placeholder{
    color: rgb(207, 206, 206);
}

.OnOrOffLine{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    outline: none;
    position: absolute;
    top: 16px;
    right: 16px;
}

/*All #ffffff rgb(255, 255, 255)Offline #bac4de rgb(186, 196, 222)Online #2eca17 rgb(46, 202, 23)*/

/*---------AGENTS TABLE--------*/
.agentHeader{
    width: 71px;
    height: 18px;
    font-size: 100%;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    margin-top: 23px;
}

table{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    height: 254px;
    width: 658px;
    overflow: auto;
}

tr{
    display: block;

    height: 54px;
    width: 100%; 
    border-radius: 27px;
    border: none;
    font-size: 100%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color:  #bac4de;
}
/*Text color: Offline  #bac4de, Online #909dbb Online Hover #5265e8*/

.online{
    color:  #909dbb
}
.online:hover{
    color: #5265e8;
    box-shadow: 0 10px 30px 0 #eaeaeb;
    border-radius: 32px;
}

td{
    position: relative;
}
.name{
    width: 171px;
    padding: 0;
    vertical-align: center;
    margin-right: 9px;
}


.department{
    width: 171px;

}
.serving-not{
    width: 90px;
    margin-left: 35px;
}


/*Add button*/

.transferB{
    display: none;
    width: 137px;
    height: 38px;
    border-radius: 19px;
    background-color: #5265e8;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 6px;
    outline: none;
    border: none;
}



/*avatar color and sizing*/
.avatar{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin:9px 11px 9px 12px;
    opacity: 0.5;
}

.online .avatar{ /*if tr is also in class online*/
    background: none #bac4de;
    opacity: 1;
}

/*Status*/
.status{
    width: 70px;
    margin:0 9px 0 0;
}

.status::before{
    content: "Offline";
}

.online .status{
    color: #2eca17;
}

.online .status::before{
    content: "Online";
}